* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #000000;
	--secondary-color: #6c757d;
	--seleceted-color: #6cb1c293;
	--text-color: #333;
}
body{
    font-size: 10px;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	font-family: Arial, sans-serif;
	align-items: center;
}

.tab-content{
    font-size: 1rem;
    margin-top: 0.3rem;
	width: 40rem;
    height: 8rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    padding: 1rem;
	text-align: center;
}
.how-use{
    font-size: 1.3rem;
    margin-bottom: .5rem;
}
footer {
	text-align: center;
    font-size: 1rem;
}
